/* CSS */


.services{
    
    border: 2px solid rgba(15, 237, 226, 0.939);
    border-radius: 10px;
    padding-top:15px;
    padding-left: 10px;
    padding-bottom:15px;
    
    box-shadow: 2px 5px 5px 10px rgb(230, 183, 202);

    text-align:center;
    background-color:#02192f;
    color:rgb(118, 251, 173);
    

}


.primary {
align-items: center;
background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
border: 0;
border-radius: 8px;
box-shadow: rgba(252, 65, 246, 0.2) 0 15px 30px -5px;
box-sizing: border-box;
color: #f7eeee;
display: flex;
font-family: "JetBrains Mono",monospace;
font-size: 20px;
justify-content:center;
line-height: 1em;
max-width: 100%;
min-width: 140px;
padding: 8px;
text-transform:capitalize;
margin: auto;
text-decoration: none;
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
white-space: nowrap;
cursor: pointer;
text-align:center;
}

.primary:hover{
  background-color: #23021b;
}





  
  