.login-card {
   height: max-content;
   transition: all 0.3s;
   position: relative;
   border-radius: 0.4rem 2rem;
   background: linear-gradient(145deg, #e0d4e9, #e6d6f3);
   box-shadow: 40px 40px 84px #725a87, -40px -40px 84px #ffecff;
}

.login-card:hover {
   transform: scale(1.02);
}

.form-control {
   position: relative;
   margin: 10px auto;
   width: 100px;
   border-radius: 0.4rem 2rem;
   background-color:  #e4c1fc!important;
   border: none !important;
 
}

.form-control .input {
   background-color: #e4c1fc;
   border-radius: 0.4rem 1rem;
   border: 0;
   outline: 0;
   border-bottom: 2px rgb(170, 4, 247) solid;
   display: block;
   width: 100%;
   font-size: 15px;
   color: rgb(31, 1, 21);
}

.form-control .input:focus,
.form-control .input:valid {
   outline: 0;
   border-bottom-color: rgb(4, 110, 145);
}

.form-control label {
   position: absolute;
   top: 10px;
   left: 11px;
   pointer-events: none;
}

.form-control label span {
   display: inline-block;
   font-size: 18px;
   min-width: 5px;
   font-weight: 400;
   color: rgb(24, 1, 16);
   transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control .input:focus + label span,
.form-control .input:valid + label span {
   color: rgb(22, 1, 13);
   transform: translateY(-30px);
}

.button {
   display: inline-block;
   padding: 8px 12px;
   border: 1px solid #4f4f4f;
   border-radius: 0.4rem 1rem;
   transition: all 0.2s ease-in;
   position: relative;
   overflow: hidden;
   font-weight: 600;
   margin-top: 10px;
   font-size: 19px;
   color: black;
   z-index: 1;
}

.button:before {
   content: '';
   position: absolute;
   left: 50%;
   transform: translateX(-50%) scaleY(1) scaleX(1.25);
   top: 100%;
   width: 140%;
   height: 180%;
   background-color: rgba(0, 0, 0, 0.05);
   border-radius: 50%;
   display: block;
   transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
   z-index: -1;
}

.button:after {
   content: '';
   position: absolute;
   left: 55%;
   transform: translateX(-50%) scaleY(1) scaleX(1.45);
   top: 180%;
   width: 160%;
   height: 190%;
   background-color: #39bda7;
   border-radius: 50%;
   display: block;
   transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
   z-index: -1;
}

.button:hover {
   color: #ffffff;
   border: 1px solid #39bda7;
}

.button:hover:before {
   top: -35%;
   background-color: #39bda7;
   transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.button:hover:after {
   top: -45%;
   background-color: #39bda7;
   transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
