.header {
   background: url(../../../../src/img/header.png);
}

.header a {
   text-decoration: none;
   color: rgb(61, 35, 3);
   font-weight: 500;
   font-size: 17px;
   margin-right: 10px;
   text-transform: capitalize;
   text-shadow: 2px 2px rgb(81, 198, 253);
}
.header a:hover {
   cursor: pointer;
   text-decoration: none;
   color: rgb(241, 13, 222);
}
