.input-group {
     display: flex;
     align-items: center;
     justify-content: center;
     
   }
   
   .input-newsletter {
     min-height: 50px;
     max-width: 22rem;
     padding: 0 4rem;
     color: rgb(4, 56, 104);
     font-size: 15px;
     border: 1px solid #a935df;
     border-radius: 0.4rem 2rem;
     background-color: transparent;
    
   }
   
   .button--submit {
     min-height: 50px;
     padding: .5em 2.5em;
     border: none;
     border-radius: 0.4rem 2rem;
     background-color: #5e4dcd;
     font-weight: 500;
     color: #fff;
     font-size: 18px;
     cursor: pointer;
     transition: background-color .5s ease-in-out;
   }
   
   .button--submit:hover {
     background-color: #a935df;
   }
   
   .input:focus, .input:focus-visible {
     border-color: #3898EC;
     outline: none;
   }
   