



/* CSS */
.con{
    min-height: 100vh;
}
.delivey-btn {
  align-items: center;
  background-color: #f8cbda;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.delivey-btn:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.delivey-btn:hover {
    transform: translate(3px, 3px);
    color: coral;
    text-align: center;
    background-color: #ffdeda;
}

.delivey-btn:active {
  background-color: #ffdeda;
  outline: 0;
}

.delivey-btn:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .delivey-btn {
    padding: 0 40px;
  }
}


.button-manager {
    align-items: center;
    appearance: none;
    background-color: #044c3e;
    border-radius: 6px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #f3f4fa;
    cursor: pointer;
    padding-left:1rem;
    padding-right: 1rem;
    display:flex;
    margin: auto;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
   
    user-select: none;
 
    touch-action: manipulation;
    white-space: nowrap;
   
    font-size: 18px;
  }
  

  
  .button-manager:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    
    background-color: #23021b;
  }